* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: beige;
    background-color: #0f0f23;
}

#main-title {
    font-size: 36px;
    color: #0f0f23;
    border-bottom: 2px solid rgb(0, 0, 0);
    padding-top: 10px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 400px auto;
    gap: 10px;
    background-color: aquamarine;
    width: 500px;
    border-radius: 5px;
}

#input-container {
    padding: 20px;
}

button, input {
    padding: 10px;
    border-radius: 5px;
}


button:hover {
    transition: 0.8s;
    background-color: #0f0f23;
    color: aquamarine;
}

#result {
    font-size: 22px;
    color: #0f0f23;
    padding-bottom: 10px;
}