* {
    box-sizing: border-box;
}

body {
    width: 100%;
    text-align: center;
}


#img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#image {
    max-width: 100%;
    height: auto;
}

#tribute-info {
    margin-top: 10px;
}